/* Spotify color theme */
:root {
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    --spotify-white: #FFFFFF;
}

body {
    background-color: var(--spotify-black); /* Set background color for the whole page */
}

.navbar-custom {
    background-color: var(--spotify-green);
}

.navbar-brand, .navbar-nav .nav-link {
    color: var(--spotify-white);
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: var(--spotify-white);
}

.card-custom {
    background-color: var(--spotify-black); /* Slightly lighter than the body background */
    /* border: 1px solid #333333; Subtle border for distinction */
    color: var(--spotify-white);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-container {
    display: block; /* Removes extra space below the SVG */
    margin: auto; /* Horizontally centers the SVG in the container if it's a block element */
  }

  .card {
    background-color: #1DB954;  /* Spotify Green */
    color: white;
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card h1 {
    margin: 10px 0;
    font-size: 48px;  /* Larger font size for the count */
    font-weight: bold;
}
.card p {
    margin: 4px 0;
    font-size: 20px; /* Smaller font size for the label */
}