/* Basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    /* background: #333; */
    background:  #191414;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
}

.date-input{
    margin-left: 10px;
    padding: 5px;
}

/* .blinker {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    animation: blinker 1s linear infinite;
    display: inline-block;
} */
/* 
@keyframes blinker {
    50% { opacity: 0; }
} */

.main-content {
    display: flex;
    padding: 5px;
    margin-top: 0;
}

.column {
    flex: 1;  /* Each of the first two columns takes up 1/5 of the space */
    margin: 5px;
}

.column2 {
    flex: 0.5;  /* Each of the first two columns takes up 1/5 of the space */
    margin: 5px;
}

.column.wide {
    flex: 4;  /* The rightmost column takes up 3/5 of the space */
    margin: 5px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background: #212121;
    padding: 10px 20px 20px 20px;  /* Decreased top padding */
    margin: 10px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    color: white;  /* Change text color to white */
}



#songCount, #sonorityIndex {
    font-size: 35px; /* Larger font size */
    font-weight: bold; /* Optional: makes the font bold */
    color: #fcb714;
}

/* first  Row Cards */
#bubbleChart{
    flex: 1.5;  /* Smaller card */
}

#barChart{
    flex: 2.5;  /* Larger card */
}

/* second Row Cards */
#pcp{
    flex: 2.5;  /* Larger card */
}

#radarChart {
    flex: 1.5;  /* Smaller card */
}

#pcp {
    display: flex;
    align-items: center; /* Vertically center the contents */
}

#pcp > * {
    margin-right: 10px; /* Add some spacing between the elements */
}

/* Styles for the dropdown */
#pcpDataSelect {
    background-color: #333; /* Set the background color */
    color: #fcb714; /* Set the text color */
    padding: 5px; /* Add some padding for better appearance */
}

/* Styles for the dropdown options */
#pcpDataSelect option {
    background-color: #222; /* Set the background color for options */
    color: #ccc; /* Set the text color for options */
}

/* Change the background color of the selected text */
.date-input option::selection {
    background-color: #fcb714; /* Adjust the color as desired */
}

/* Change the text color of the selected text */
.date-input option::-moz-selection {
    color: #333; /* Adjust the color as desired */
}

.date-input {
    color: black; /* Replace #your-desired-color with the hex code or color name you want */
}

.reset-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #fcb714; /* Red color for the reset button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.reset-button:hover {
    background-color: #d32f2f;
}


.dropdown-scrollable {
    max-height: 200px; /* Adjust based on preference */
    overflow-y: auto;
}

.blinker {
    animation: blinker 1s steps(1) infinite;
}

@keyframes blinker {
    50% { opacity: 1; }
    100% { opacity: 1; }
}

.bpm-selector {
    width: auto; /* Adjust width as needed */
    overflow-y: auto; /* Ensures the dropdown is scrollable */
    max-height: 150px; /* Limits the height to make it scrollable */
}



/* Adjust layout of dropdown container */
.dropdown-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to create space between date filter and BPM dropdown */
}

/* Make dropdown scrollable */
.dropdown-menu {
    max-height: 200px; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.date-filter {
    display: inline-flex; /* Use inline-flex to align items horizontally */
    align-items: center; /* Align items vertically */
}
