<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualization</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="static/css/theme.css" rel="stylesheet" />
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <!-- Spotify logo and dashboard name -->
          <a class="navbar-brand" href="#">
            <img
              src="static/img/logo_black.png"
              alt="Spotify Logo"
              width="30"
              height="30"
              class="d-inline-block align-top"
            />
            Spotify Dashboard
          </a>

          <!-- Placeholder for right-aligned dropdowns -->
          <div class="d-flex justify-content-end">
            <!-- Placeholder content -->
          </div>
        </div>
      </nav>
      <div>         
        <div id="barChart"> </div>
        <!-- <div id="keyDonutChart"> </div> -->
        <div id="treemap"> </div>
        <div id="bubbleChart"></div>
        <select id="dataSelect">
          <option value="playlist">Playlist</option>
          <option value="charts">Charts</option>
      </select>
        <div id="pcp"></div>


      </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js')}}"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
